<!DOCTYPE html>
<html>
  <head>
    <title>Site Surveyor</title>
    <meta charset="UTF-8">

    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.css"/>
    <!--
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	-->

	<script src="https://unpkg.com/htmx.org@1.8.5"
		integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
		crossorigin="anonymous"></script>

	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<style>
	  table {
	      border: 1px solid black;
	      border-collapse: collapse;
	  }
	  table td {
	      border: 1px solid black;
	      padding: 2pt;
	  }
	  img {
	      box-shadow: -5px 5px 5px -5px rgba(80, 80, 80);
	      margin: 0 1em;
	  }

	</style>

  </head>

  <body>

    <main
      x-data="{authServer: 'https://auth.site.test',
	      apiServer: 'https://data.site.test'
	      }"
      class="container">

      <img style="float: right" src="surveyor.jpg">

      <h1>Site Surveyor</h1>

      <p>Welcome to Site Surveyor!
	This is a website that talks to your Site instance.</p>

      <h3>Authorize</h3>
      <p>Before we can continue, we must first acquire an <b>access token</b> which will be used to access your Site instance's resources.</p>

      <div>
	<p>First, let's configure the location of your authorization server.</p>

	<p>
	  <label for="authServer">OAuth2 Authorization Server</label>
	  <input id="authServer" x-model="authServer"
		 placeholder="Authorization Server...">
	</p>

	<p>Click
	  <a :href="authServer + '/oauth/authorize?client_id=surveyor&response_type=token'">here</a>
	  to get your token!</p>

	<p>
	  <label for="access-token">Access Token</label>
	  <input id="access-token">
	</p>

	<p>Finally we need to know the host serving the Site API:</p>

	<p>
	  <label for="apiServer">API Server</label>
	  <input id="apiServer" x-model="apiServer"
		 placeholder="API Server...">
	</p>

      </div>


      <br style="clear: both">

      <section>
	<h2>Operations</h2>

	<div class="epigraph">
	  <blockquote>
	    For every action, there is an equal and opposite reaction.
	    <footer>Isaac Newton</footer>
	  </blockquote>
	</div>

	<p style="display: none">
	  Until we acquire an <i>access token</i>, these will be just the 'public' operations!
	</p>

	<figure class="fullwidth">
	  <h3>List of Operations</h3>

	  <p>This list is available from <a href="https://swagger-ui.site.test/#/Operations" x-text="apiServer + '/_site/operations'"></a></p>

	  <div class="authorized"
	       :hx-get="apiServer + '/_site/operations'"
	       hx-trigger="load">
	    <code>
	      Loading operations...
	    </code>
	  </div>

	</figure>

	<p id="bar">Click HERE to print a list of operations onto the console!</p>

      </section>

      <section>
	<h2>Users</h2>

	<p>TODO: Show a whole tree of a selected user, including identities and access-tokens.</p>

	<!--
	    <figure class="fullwidth">
	      <h3>List of Users</h3>

	      <p>The list of users is available
		from <a href="https://swagger-ui.site.test/#/Users"
			x-text="apiServer + '/_site/users'"></a></p>

	      <div class="authorized"
		   :hx-get="apiServer + '/_site/users'"
						       hx-trigger="load">
		<code>
		  Loading users...
		</code>
		<aside>(note: this won't complete until we have authorization working!)</aside>
	      </div>

	    </figure>
	    -->

	    <!--
		<h3>mal</h3>
		<div class="authorized" :hx-get="apiServer + '/users/mal'" hx-trigger="load">
		  <code>
		    Loading mal...
		  </code>
		</div>
		-->

      </section>

      <div class="flex-center full-height">
	<div class="content">
          <a href="#" id="start">Click to Sign In</a>
          <div id="token" class="hidden">
            <h2>Access Token</h2>
            <div id="access_token" class="code"></div>
          </div>
          <div id="error" class="hidden">
            <h2>Error</h2>
            <div id="error_details" class="code"></div>
          </div>
	</div>
      </div>

      <p id="foo">Click HERE to get access token</p>

    </main>

    <script type="module">
      import { useOAuth2 } from "./oauth2.js";

      const { sendAuthTokenRequest, isError, sendAuthCodeRequest } = useOAuth2({
	client_id: "surveyor",
	authorization_endpoint: "https://auth.site.test/oauth/authorize",
	token_endpoint: "https://auth.site.test/oauth/token",
	redirect_uri: "https://surveyor.site.test/index.html",
	requested_scopes: "",
	protected_hostname: "data.site.test",
	protected_pathname: "/*",
      });

      document.getElementById("foo").addEventListener("click", sendAuthCodeRequest);

      document.getElementById("bar").addEventListener("click", async () =>
	{
	  const response = await fetch("https://data.site.test/_site/operations",
				       { method: 'GET', headers: {"accept": "application/json"}})
	  const data = await response.json();
	  console.dir(data);
	  ;
	});

      if (isError) {
	alert("ERROR");
      } else {
	sendAuthTokenRequest(
          (data) => console.log("authenticated"),
          (error) => {console.log("ERROR"); console.dir(error); }
	);
      }
    </script>


  </body>
</html>
